@import "mixin";

.home {
  margin-top: 80px;
}

.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mainImage {
    width: 100%;
  }

  button {
    margin: 2rem;
    font-size: 2rem;
  }

  .carousel-wrapper {
    width: 80%;
    background-color: #282c34;
    margin-bottom: 2rem;

    @include phone {
      height: 200px;
    }

    .carousel-items {
      height: 680px;
    }
  }
}
